<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%if(config.useCDN){%>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.3/css/bootstrap.min.css" integrity="sha512-GQGU0fMMi238uA+a/bdWJfpUGKUkBdgfFdgBm72SUQ6BeyWjoY/ton0tEjH+OSH9iP4Dfh+7HM0I9f5eR0L/4w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA==" crossorigin="anonymous" />
    <% }else{ %>
        <link rel="stylesheet" type="text/css" href="../resources/twitter-bootstrap-5.1.3/css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="../resources/font-awesome-6.0.0-beta3/css/all.min.css"/>
    <%}%>            
    
    <style type="text/css">
        <%=styles%>
        <%=customStyle%>
    </style>
</head>

<body>
    <div class="feature-overview-report">
        <nav id="navBar" class="navbar navbar-default navbar-fixed-top fixed-top pt-0 pb-0 border ms-4 me-4 navbar-expand">
            <div class="container-fluid border border-dark d-flex flex-row ps-0 pe-0">
                <div class="border-right border-dark">
                    <button id="backButton" type="submit" class="btn">
                        <%var isTags;if(typeof feature != 'undefined' && typeof feature.tags !== 'undefined' && feature.tags.length > 0 ) {isTags=true }else{isTags=false }%>
                        <%var isFeatureDescription;if(typeof feature != 'undefined' && typeof feature.description !== 'undefined' ) {isFeatureDescription=true }else{isFeatureDescription=false }%>
                        <%var buttonSize;if(isFeatureDescription && isTags ) {buttonSize="6x" }else if(isTags || isFeatureDescription){buttonSize="5x" }else{buttonSize="3x"}%>
                        <i class="fas fa-arrow-left fa-<%=buttonSize%>"></i>
                    </button>
                </div>
                <div class="d-flex flex-column me-auto ms-4">
                    <%=tags %>
                    
                    <div class="d-flex flex-column mt-4 ms-1">
                        <h1>Feature:
                            <small>
                                <%= feature.name %>
                            </small>
                        </h1>
                        <h6 id ="featureDescription" class="ms-1">
                            <%= feature.description %>
                        </h6>
                    </div>
                </div>
            </div>
        </nav>

        <div id="fluentContent" class="container-fluid">
            <div class="d-flex flex-column">
                <div class="row d-flex flex-row ms-1 me-1 mb-4">
                    <%= featureScenariosOverviewChart %>
                </div>
                <div class="d-flex flex-column ps-0 pe-0">
                    <%= scenarioOutlineTemplate %>
                </div>
            </div>

            <div class="created-by text-center pt-4">
                <p>Created by yon cuadrado. Find me on:</p>
                <a href="https://github.com/yon-cuadrado" target="_blank">
                    <i class="fab fa-github fa-2x"></i>
                </a>
                <a href="https://www.linkedin.com/in/yon-cuadrado-blanco/" target="_blank">
                    <i class="fab fa-linkedin fa-2x"></i>
                </a>
            </div>
        </div>
    </div>
    <%if(config.useCDN){%>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.js" integrity="sha512-n/4gHW3atM3QqRcbCn6ewmpxcLAHGaDjpEBu4xZd47N0W2oQ+6q7oc3PXstrJYXcbNU1OHdQ1T7pAP+gi5Yu8g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.3/js/bootstrap.min.js" integrity="sha512-OvBgP9A2JBgiRad/mM36mkzXSXaJE9BEIENnVEmeZdITvwT09xnxLtT4twkCa8m/loMbPHsvPl0T8lRGVBwjlQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

        <!-- Chart.js -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.0/chart.min.js" integrity="sha512-TW5s0IT/IppJtu76UbysrBH9Hy/5X41OTAbQuffZFU6lQ1rdcLHzpU5BzVvr/YFykoiMYZVWlr/PX1mDcfM9Qg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-datalabels/2.0.0/chartjs-plugin-datalabels.min.js" integrity="sha512-R/QOHLpV1Ggq22vfDAWYOaMd5RopHrJNMxi8/lJu8Oihwi4Ho4BRFeiMiCefn9rasajKjnx9/fTQ/xkWnkDACg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>     
    <% }else{ %>
        <script type="text/javascript" src="../resources/jquery-3.6.0/jquery.js"></script>
        <script type="text/javascript" src="../resources/twitter-bootstrap-5.1.3/js/bootstrap.min.js"></script>
        
        <!-- Chart.js -->
        <script type="text/javascript" src="../resources/Chart.js-3.7.0/chart.min.js"></script>
        <script type="text/javascript" src="../resources/chartjs-plugin-datalabels-2.0.0/chartjs-plugin-datalabels.min.js"></script> 
    <%}%>    
    <!-- Custom -->
    <%= featureOverviewScripts %>
</body>
