<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title><%suite.reportTitle%></title>

    <%if(config.useCDN){%>
        <!-- Bootstrap -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.3/css/bootstrap.min.css" integrity="sha512-SbiR/eusphKoMVVXysTKG/7VseWii+Y3FdHrt0EpKgpToZeemhqHeZeLWLhJutz/2ut2Vw1uQEj2MbRF+TVBUA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        
        <!-- Font Awesome -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />

        <!-- DataTables -->
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.1/css/dataTables.bootstrap5.min.css" integrity="sha512-B0ungGnRaERdE/BwX0/4uzIyY4RUhGEvMQ4JiUtZxCMlBaT6HD6PvjhvR24R6E12ddQzsdySqEqJ/5cl5P/NoA==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/2.3.3/css/buttons.bootstrap5.css" integrity="sha512-j7aUBSc5y//dFRBmR0mI5TPfSQs1L6t1sAiKqkoz8Od0FyZWGUA8qz+UXFVR740t2xIaqHakOA3vd/tscZe/jw==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.4.0/css/responsive.bootstrap5.css" integrity="sha512-bwdtRzbg3cj2/ia8HYiaFvb5ZuSXEG9jtiDuuOLSdO04CzR0QG56JxBuGW3u1dyQ4TruiK2iWt4AKCnj1l9kaA==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/scroller/2.0.7/css/scroller.bootstrap5.css" integrity="sha512-dgWXhovC3r7M0LORvWoTJJTWgxN1LAkt6YsVAjiaa/G4THaHWPPSaJu3Me01+s38MA0YqXQ2ReX02jUnu/KgGw==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <% }else{ %>
        <!-- Bootstrap -->  
        <link rel="stylesheet" type="text/css" href="resources/twitter-bootstrap-5.2.3/css/bootstrap.min.css" />
                
        <!-- Font Awesome -->
        <link rel="stylesheet" href="resources/font-awesome-6.2.1/css/all.min.css"/>

        <!-- DataTables -->        
        <link rel="stylesheet" type="text/css" href="resources/DataTables-1.13.1/dataTables.bootstrap5.min.css"/>
        <link rel="stylesheet" type="text/css" href="resources/Buttons-2.3.3/buttons.bootstrap5.css"/>
        <link rel="stylesheet" type="text/css" href="resources/Responsive-2.4.0/responsive.bootstrap5.css"/>
        <link rel="stylesheet" type="text/css" href="resources/Scroller-2.0.7/scroller.bootstrap5.css"/>
    <%}%>
    <!-- Custom Theme Style -->
    <style type="text/css">
        <%=styles %>
        <%=customStyle%>
    </style>
</head>

<body>
    <div class="features-overview-report">
        <nav class="navbar border ms-4 me-4 mt-2 mb-2">
            <div class="container-fluid p-0 m-3">
                <h1><%=suite.reportTitle%></h1>
            </div>
        </nav>
        <div class="container-fluid p-0">
            <div class="row d-flex flex-row p-0 mb-4 ms-3 me-3">
                <%= featuresChart %>
                <%= scenariosChart %>
                <%= metadata %>
            </div>

            <div class="border p-0 mb-4 ms-4 me-4 ps-2 pe-2 pb-1">
                <div class="graph-title flex flex-column row ms-2 me-2 pb-4">
                    <div class="flex flex-row border-bottom d-inline-flex" data-bs-toggle="collapse"
                        data-bs-target="#features-overview">
                        <h2 class="d-flex flex-column align-text-bottom mb-2 mt-2"> Features Overview</h2>
                        <li class="d-flex align-items-center me-2 ms-auto">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                        </li>
                    </div>
                </div>

                <div id="features-overview" class="collapse show container-fluid">
                    <%= featuresOverview %>
                </div>
            </div>
        </div>

        <%if(config.useCDN){%>
            <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.js" integrity="sha512-CX7sDOp7UTAq+i1FYIlf9Uo27x4os+kGeoT7rgwvY+4dmjqV0IuE/Bl5hVsjnQPQiTOhAX1O2r2j5bjsFBvv/A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
            <script type="text/javascript" src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js" integrity="sha512-WXxMgj2eGWL/MLxDmc99OBLZxr8H+cfhi9OsPQQtPv42FKzGi+EgfvBQi3OdJKNEDBBpdyXBF7uIKGVIOuelmA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
            <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.3/js/bootstrap.min.js" integrity="sha512-1/RvZTcCDEUjY/CypiMz+iqqtaoQfAITmNSJY17Myp4Ms5mdxPS5UV7iOfdZoxcGhzFbOm6sntTKJppjvuhg4g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
            <script type="text/javascript" src="https://cdn.datatables.net/1.13.1/js/dataTables.bootstrap5.min.js" integrity="sha512-DK2sDFXaKlL6GyjjmKlL1YsuUiAuEKBqYqj0oYQijZQadPjTunVZYhDCOb8pv5CcIKwoz8ev+wMhJgaQcBN7xg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
            <script type="text/javascript" src="https://cdn.datatables.net/buttons/2.3.3/js/dataTables.buttons.js" integrity="sha512-ExTbHC8cvTrgmkPhfP9k6cqqvth5DF+1LoVx3ZwAIOGgSzHMjybTjP94XOrxJvvwVoUVAmp8A3wjAOGAVQuzpA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
            <script type="text/javascript" src="https://cdn.datatables.net/buttons/2.3.3/js/buttons.colVis.js" integrity="sha512-8KrfEPqgDHH5K40sWlpIz+dnTV0zkZJimDOi8IrVozgKdcnOM2sc8z+uvk88b6IkK+k+jcVQM1wLL/4gArEJ4A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
            <script type="text/javascript" src="https://cdn.datatables.net/buttons/2.3.3/js/buttons.bootstrap5.js" integrity="sha512-rKPxMETAEeaUndubvKIwSeApQvsn8LGRaCJ6nHc/RZmM5oUXqMMhTuTmcOy0zokcqAdYh8Egn/38Q2+80j8hTg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
            <script type="text/javascript" src="https://cdn.datatables.net/responsive/2.4.0/js/dataTables.responsive.js" integrity="sha512-JIwTc5tGTPbXeVjbeNhr25G8vmrY8KcS8HEF1KmAmC9c67S4ORMg8s4slHa1zpgnjtDwIkiCxn3xrjUe4dbK+Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
            <script type="text/javascript" src="https://cdn.datatables.net/scroller/2.0.7/js/dataTables.scroller.js" integrity="sha512-0DTQ0w3+2mYGA7lQwNB4+he2dw8hWvXgEFlDGfXK/mCybEBXE+UIP9rlH3IzN+WfRLSZm/8pSe5X5nu+ZCJoJw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

            <!-- Chart.js -->
            <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.min.js" integrity="sha512-ElRFoEQdI5Ht6kZvyzXhYG9NqjtkmlkfYk0wr6wHxU9JEHakS7UJZNeml5ALk+8IKlU6jDgMabC3vkumRokgJA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-datalabels/2.1.0/chartjs-plugin-datalabels.min.js" integrity="sha512-Tfw6etYMUhL4RTki37niav99C6OHwMDB2iBT5S5piyHO+ltK2YX8Hjy9TXxhE1Gm/TmAV0uaykSpnHKFIAif/A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <% }else{ %>
            <script type="text/javascript" src="resources/jquery-3.6.1/jquery.js"></script>
            <script type="text/javascript" src="resources/twitter-bootstrap-5.2.3/js/bootstrap.min.js"></script>
            <script type="text/javascript" src="resources/DataTables-1.13.1/jquery.dataTables.min.js"></script>
            <script type="text/javascript" src="resources/DataTables-1.13.1/dataTables.bootstrap5.min.js"></script>
            <script type="text/javascript" src="resources/Buttons-2.3.3/dataTables.buttons.js"></script>
            <script type="text/javascript" src="resources/Buttons-2.3.3/buttons.bootstrap5.js"></script>
            <script type="text/javascript" src="resources/Buttons-2.3.3/buttons.colVis.js"></script>
            <script type="text/javascript" src="resources/Responsive-2.4.0/dataTables.responsive.js"></script>
            <script type="text/javascript" src="resources/Scroller-2.0.7/dataTables.scroller.js"></script>

            <!-- Chart.js -->
            <script src="resources/Chart.js-3.9.1/chart.min.js"></script>
            <script src="resources/chartjs-plugin-datalabels-2.1.0/chartjs-plugin-datalabels.min.js"></script>
        <%}%>     
        <!-- Custom -->

        <%= featuresOverviewScripts %>
        <div class="created-by text-center">
            <p>Created by yon cuadrado. Find me on:</p>
            <a href="https://github.com/yon-cuadrado" target="_blank">
                <i class="fab fa-github fa-2x ms-2"></i>
            </a>
            <a href="https://www.linkedin.com/in/yon-cuadrado-blanco/" target="_blank">
                <i class="fab fa-linkedin fa-2x"></i>
            </a>
        </div>
    </div>
</body>
</html>
