<% if(scenario.before && scenario.before.steps && Object.entries(scenario.before.steps).length> 0) { %>
    <div class="before scenario-step-container mb-auto ms-4 align-items-baseline d-flex flex-row"
        data-bs-toggle="collapse" data-bs-target="#before-<%=scenarioIndex %>">

        <% if(config.showExecutionTime && !scenario.isFirstScenarioOutline){ %>
            <div class="me-2">
                <%=scenario.results.before.durationHHMMSS %>
            </div>
        <% } %>

        <div>
            <span>
                <%= "Before:" %>
            </span>
            <a class="collapse-link">
                <i class="fa fa-chevron-down pt-2 ps-1 pe-1"></i>
            </a>
        </div>
    </div>
    <div class="collapse mb-2 mt-2 ms-4" id="before-<%=scenarioIndex %>">
        <%=steps%>
    </div>
    <% } %>
